<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>space</key>
	<string>space.glif</string>
	<key>aminuscule</key>
	<string>aminuscule.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>cminuscule</key>
	<string>cminuscule.glif</string>
	<key>dminuscule</key>
	<string>dminuscule.glif</string>
	<key>e.minuscule</key>
	<string>e.minuscule.glif</string>
	<key>f.minuscule</key>
	<string>f.minuscule.glif</string>
	<key>g.minuscule</key>
	<string>g.minuscule.glif</string>
	<key>h.minuscule</key>
	<string>h.minuscule.glif</string>
	<key>i.minuscule</key>
	<string>i.minuscule.glif</string>
	<key>j.minuscule</key>
	<string>j.minuscule.glif</string>
	<key>k.minuscule</key>
	<string>k.minuscule.glif</string>
	<key>l.minuscule</key>
	<string>l.minuscule.glif</string>
	<key>m.minuscule</key>
	<string>m.minuscule.glif</string>
	<key>n.minuscule</key>
	<string>n.minuscule.glif</string>
	<key>o.minuscule</key>
	<string>o.minuscule.glif</string>
	<key>p.minuscule</key>
	<string>p.minuscule.glif</string>
	<key>q.minuscule</key>
	<string>q.minuscule.glif</string>
	<key>r.minuscule</key>
	<string>r.minuscule.glif</string>
	<key>s.minuscule</key>
	<string>s.minuscule.glif</string>
	<key>t.minuscule</key>
	<string>t.minuscule.glif</string>
	<key>u.minuscule</key>
	<string>u.minuscule.glif</string>
	<key>v.minuscule</key>
	<string>v.minuscule.glif</string>
	<key>w.minuscule</key>
	<string>w.minuscule.glif</string>
	<key>x.minuscule</key>
	<string>x.minuscule.glif</string>
	<key>y.minuscule</key>
	<string>y.minuscule.glif</string>
	<key>z.minuscule</key>
	<string>z.minuscule.glif</string>
	<key>amajuscule</key>
	<string>amajuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>majuscule</key>
	<string>majuscule.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>numéro 1</key>
	<string>numéro 1.glif</string>
	<key>deux</key>
	<string>deux.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>quatre</key>
	<string>quatre.glif</string>
	<key>numéro 5</key>
	<string>numéro 5.glif</string>
	<key>numéro 6</key>
	<string>numéro 6.glif</string>
	<key>numéro 7</key>
	<string>numéro 7.glif</string>
	<key>huit</key>
	<string>huit.glif</string>
	<key>numéro 9</key>
	<string>numéro 9.glif</string>
	<key>point</key>
	<string>point.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>esperluette</key>
	<string>esperluette.glif</string>
	<key>latin minuscule é</key>
	<string>latin minuscule é.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>minuscule u tréma</key>
	<string>minuscule u tréma.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>parenthese</key>
	<string>parenthese.glif</string>
	<key>parenthese</key>
	<string>parenthese.glif</string>
	<key>crochet</key>
	<string>crochet.glif</string>
	<key>crochet</key>
	<string>crochet.glif</string>
	<key>accolade</key>
	<string>accolade.glif</string>
	<key>accolade</key>
	<string>accolade.glif</string>
	<key>signe égal</key>
	<string>signe égal.glif</string>
	<key>signe</key>
	<string>signe.glif</string>
	<key>signe</key>
	<string>signe.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>point</key>
	<string>point.glif</string>
	<key>point</key>
	<string>point.glif</string>
	<key>virgule</key>
	<string>virgule.glif</string>
	<key>iminuscule</key>
	<string>iminuscule.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>antiSlash</key>
	<string>antiS_lash.glif</string>
	<key>double</key>
	<string>double.glif</string>
	<key>arrobase</key>
	<string>arrobase.glif</string>
	<key>astérisque</key>
	<string>astérisque.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>z diacrité</key>
	<string>z diacrité.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>L barré majuscule</key>
	<string>L_ barré majuscule.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>é majuscule</key>
	<string>é majuscule.glif</string>
	<key>è majuscule</key>
	<string>è majuscule.glif</string>
	<key>ê majuscule</key>
	<string>ê majuscule.glif</string>
	<key>ë majuscule</key>
	<string>ë majuscule.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>dièse</key>
	<string>dièse.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>apostrophe</key>
	<string>apostrophe.glif</string>
	<key>minucule</key>
	<string>minucule.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>minuscule</key>
	<string>minuscule.glif</string>
	<key>Majuscule</key>
	<string>M_ajuscule.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>deux</key>
	<string>deux.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>O barré minuscule</key>
	<string>O_ barré minuscule.glif</string>
	<key>O barré majuscule</key>
	<string>O_ barré majuscule.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>scharfes</key>
	<string>scharfes.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>Le</key>
	<string>L_e.glif</string>
	<key>bitcoin</key>
	<string>bitcoin.glif</string>
    </dict>
</plist>
